html {
  font-family: helvetica;
  text-align: center;
}

p {
  font-size: 14px;
}

h2 {
  font-size:32px;
  font-weight:bold;
}

h3 {
  font-size:23px;
  font-weight:bold;
}

.header,
#designed,
.footer,
a {
  color: white;
}

.header,
#designed {
  background-image: url("../images/the-flatiron-building.png");
  background-color:dimgray;
}

.header p {
  font-size: 18px;
}

.footer {
  background-color: dimgray;
  font-size:11px;
  text-align: left;
}
